Repository tl-its-umich-edu/instructor-productivity-tools, pull requests merged in 2022-05, with the labels that each got.

#163 #161 created a class for canvas API LTI
  .env.sample
  backend/canvas_app_explorer/canvas_lti_manager.py
  backend/canvas_app_explorer/data_class.py
  backend/canvas_app_explorer/management/commands/test_canvas_lti_manager.py
  backend/canvas_app_explorer/tests.py
  backend/settings.py
  docker-compose.yml
  mypy.ini
  mysql/init.sql
  requirements.txt
Labels: enhancement, backend

#167 Filter tools based on course context, process navigation enabled flag (#166)
  backend/canvas_app_explorer/admin.py
  backend/canvas_app_explorer/lti1p3.py
  backend/canvas_app_explorer/migrations/0008_ltitool_canvas_id.py
  backend/canvas_app_explorer/models.py
  backend/canvas_app_explorer/serializers.py
  backend/canvas_app_explorer/views.py
  frontend/components/AddRemoveButton.jsx
  frontend/components/Home.jsx
  frontend/components/ToolCard.jsx
Labels: enhancement, backend, frontend

#165 Fixes #164 - Simplify local development to only need one forward
  .env.sample
  README.md
  deploy/supervisor_docker.conf
  docker-compose-openshift-test.yml
  docker-compose.yml
  dockerfiles/Dockerfile
  dockerfiles/Dockerfile.openshift
  frontend/package-lock.json
  frontend/package.json
  frontend/server.js
  frontend/webpack.config.js
  ngrok.yml.sample
  requirements.txt
Labels: enhancement, backend, dependencies

#173 Rework `LtiToolViewSet` to prevent multiple API calls (#172)
  backend/canvas_app_explorer/serializers.py
  backend/canvas_app_explorer/views.py
  backend/urls.py
Labels: bug, backend
