Repository tl-its-umich-edu/instructor-productivity-tools, pull requests merged in 2022-06, with the labels that each got.

#171 Switch to TypeScript (#136, #137, #168)
  dockerfiles/Dockerfile
  dockerfiles/Dockerfile.openshift
  frontend/.eslintrc.js
  frontend/babel.config.js
  frontend/components/AddRemoveButton.jsx
  frontend/components/DataElement.tsx
  frontend/components/Header.tsx
  frontend/components/Home.jsx
  frontend/components/Home.tsx
  frontend/components/ToolCard.tsx
  frontend/components/index.tsx
  frontend/components/toolButtons.tsx
  frontend/interfaces.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/theme.ts
  frontend/tsconfig.json
  frontend/webpack.config.js
  frontend/webpack/webpack.common.ts
  frontend/webpack/webpack.dev.ts
  frontend/webpack/webpack.prod.ts
Labels: enhancement, dependencies, frontend

#187 issue #186 update to MySQL v8
  docker-compose.yml
Labels: bug, enhancement, dependencies

#180 Add navigation enabling `CanvasLtiManager` method, API endpoint with validation, and Swagger UI
  README.md
  backend/canvas_app_explorer/canvas_lti_manager.py
  backend/canvas_app_explorer/canvas_lti_manager/__init__.py
  backend/canvas_app_explorer/canvas_lti_manager/data_class.py
  backend/canvas_app_explorer/canvas_lti_manager/django_factory.py
  backend/canvas_app_explorer/canvas_lti_manager/manager.py
  backend/canvas_app_explorer/canvas_lti_manager/tests.py
  backend/canvas_app_explorer/management/commands/test_canvas_lti_manager.py
  backend/canvas_app_explorer/serializers.py
  backend/canvas_app_explorer/tests.py
  backend/canvas_app_explorer/views.py
  backend/settings.py
  backend/urls.py
  requirements.txt
Labels: enhancement, backend, dependencies

#195 Move frontend application code into `app` (#170)
  docker-compose.yml
  frontend/app/components/DataElement.tsx
  frontend/app/components/Header.tsx
  frontend/app/components/Home.tsx
  frontend/app/components/ToolCard.tsx
  frontend/app/components/toolButtons.tsx
  frontend/app/css/Home.css
  frontend/app/index.tsx
  frontend/app/interfaces.ts
  frontend/app/theme.ts
  frontend/tsconfig.json
  frontend/webpack/webpack.common.ts
Labels: enhancement, frontend

#192 Fixes #179 - Don't consider HTML formatting in character count limits
  backend/canvas_app_explorer/models.py
Labels: enhancement, backend

#200 Improve action buttons on `ToolCard` (#146, #201)
  frontend/app/components/ToolCard.tsx
  frontend/app/components/toolButtons.tsx
Labels: bug, enhancement, accessibility, frontend

#204 Re-design `Header.tsx` as `HeaderAppBar.tsx` (#182)
  frontend/app/components/Header.tsx
  frontend/app/components/HeaderAppBar.tsx
  frontend/app/components/Home.tsx
Labels: enhancement, frontend

#199 Add a dialog for viewing larger versions of screenshots (#185)
  frontend/app/components/ImageDialog.tsx
  frontend/app/components/ToolCard.tsx
Labels: enhancement, accessibility, frontend

#196 Call API with add and remove buttons, refine loading and error strategies (#181, 191)
  backend/canvas_app_explorer/views.py
  frontend/.eslintrc.js
  frontend/app/api.ts
  frontend/app/components/ErrorsDisplay.tsx
  frontend/app/components/Home.tsx
  frontend/app/components/ToolCard.tsx
  frontend/app/index.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: enhancement, dependencies, frontend

#223 Make `DataElement` header smaller, bold (#222)
  frontend/app/components/DataElement.tsx
Labels: enhancement, frontend

#221 Add data migration with standard Canvas Placement values (#54)
  backend/canvas_app_explorer/migrations/0009_auto_20220623_1526.py
Labels: enhancement, backend

#225 Use `Snackbar`, update text for refresh alert (#224)
  frontend/app/components/Home.tsx
Labels: bug, frontend, usability

#227 Remove duplicate IDs within `ToolCard` (#226)
  frontend/app/components/ToolCard.tsx
  frontend/app/components/toolButtons.tsx
Labels: bug, accessibility, frontend
