Repository tl-its-umich-edu/instructor-productivity-tools, pull requests merged in 2022-10, with the labels that each got.

#275 Modified paragraph class attributes to make paragraphs separated by l…
  frontend/app/css/Home.css
Labels: bug, frontend

#278 added 'blank=True' attribute to internal_notes, so that a LTI tool ca…
  backend/canvas_app_explorer/migrations/0012_alter_ltitool_internal_notes.py
  backend/canvas_app_explorer/models.py
Labels: bug, backend

#283 Bump `pylti1p3` to 1.12.1
  requirements.txt
Labels: bug, dependencies

#285 Convert likely string course ID to an integer (#284)
  backend/canvas_app_explorer/lti1p3.py
Labels: bug, backend
