Repository tl-its-umich-edu/instructor-productivity-tools, pull requests merged in 2022-04, with the labels that each got.

#98 Fixes #2 - Initial commit to add OAuth support
  .env.sample
  backend/canvas_app_explorer/lti1p3.py
  backend/canvas_app_explorer/migrations/0005_adding_mysql_cache.py
  backend/canvas_app_explorer/urls.py
  backend/settings.py
  backend/urls.py
  backend/views.py
  docker-compose.yml
  requirements.txt
Labels: enhancement, backend

#143 Refactor `Home.jsx`, `ProductCard.jsx` (#142)
  frontend/components/Home.jsx
  frontend/components/ProductCard.jsx
  frontend/components/index.jsx
  frontend/css/Home.css
Labels: enhancement, plasmic

#138 Update `node` and `nvm` versions (#135)
  dockerfiles/Dockerfile
  dockerfiles/Dockerfile.openshift
  frontend/package-lock.json
Labels: enhancement, dependencies

#134 Limit `LtiTool.short_description` length to 120 characters (#128)
  backend/canvas_app_explorer/migrations/0006_alter_ltitool_short_description.py
  backend/canvas_app_explorer/models.py
Labels: enhancement, backend

#150 Use Node 16 with Plasmic GitHub Action (#149)
  .github/workflows/plasmic.yml
Labels: plasmic, dependencies

#152 [plasmic] Sync project Canvas App Explorer
  frontend/components/plasmic/canvas_app_explorer/PlasmicAddRemoveButton.jsx
  frontend/components/plasmic/canvas_app_explorer/PlasmicProductCard.css
  frontend/components/plasmic/canvas_app_explorer/PlasmicProductCard.jsx
  frontend/components/plasmic/canvas_app_explorer/PlasmicTitleLearnMoreButton.jsx
  frontend/package-lock.json
  frontend/package.json
  frontend/plasmic.json
  frontend/plasmic.lock
Labels: plasmic

#151 Add customizable alt text for images (#144)
  backend/canvas_app_explorer/admin.py
  backend/canvas_app_explorer/migrations/0007_auto_20220420_2008.py
  backend/canvas_app_explorer/models.py
  frontend/components/ProductCard.jsx
Labels: enhancement, plasmic, backend, frontend
