Repository tl-its-umich-edu/instructor-productivity-tools, pull requests merged in 2022-07, with the labels that each got.

#234 Add tool name to card under the logo image (#229)
  frontend/app/components/ToolCard.tsx
Labels: enhancement, frontend

#232 Combine Enlarge Screenshot button and image (#228)
  frontend/app/components/ToolCard.tsx
Labels: enhancement, frontend, usability

#236 Fixes #220 Replace X_FRAME_OPTIONS with CSP
  .env.sample
  backend/settings.py
  requirements.txt
Labels: enhancement, backend, security

#245 Provide default Canvas API scopes for OAuth, with an environment variable escape hatch (#202)
  .env.sample
  backend/canvas_scopes.py
  backend/settings.py
Labels: enhancement, backend

#250 Announce number of filter results using `aria-live` (#248)
  frontend/app/components/Home.tsx
Labels: bug, accessibility, frontend

#247 Limit access to the tool to course staff (#219, #246)
  backend/canvas_app_explorer/canvas_roles.py
  backend/canvas_app_explorer/lti1p3.py
  templates/lti_config_template.json
Labels: bug, enhancement, backend

#253 Perform dependency update and review (#252)
  frontend/package-lock.json
  frontend/package.json
  requirements.txt
Labels: enhancement, backend, dependencies, frontend

#259 Add `django-watchman` status URL
  .env.sample
  backend/settings.py
  backend/urls.py
  requirements.txt
Labels: backend, dependencies, configuration

#261 Add `role`, `aria-hidden`, and `focusable` values to `CheckCircleOutline` icon (#260)
  frontend/app/components/ToolCard.tsx
Labels: bug, accessibility, frontend
